<%- include('header.ejs') %>

<inner-column class="athletes">
	<h1 class="screaming-voice">Athletes</h1>
	
	<section class="sort">
		<label for="sortBy" class="normal-voice">
			Sort By:
		</label>

		<select id="sortBy">
			<option value="all">- - Select - -</option>

			<option value="lastName">Last Name (A - Z)</option>
			<option value="lastNameRev">Last Name (Z - A)</option>

			<option value="yearDesc">Year (Desc)</option>
			<option value="yearAsc">Year (Asc)</option>
		</select>		

		<div class="flip-button">
			<button id='flip-toggle'>Turn Off Hover</button>
		</div>	
	</section>

	<%- include('filter-menu.ejs') %>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li 
				class="athlete" 
				data-sport="<%=athlete.sport%>" 
				data-year="<%=athlete.collegeSeasons%>";
			>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button class='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('scripts/filter-menu-script.ejs') %>
<%- include('scripts/sort-and-flip-script.ejs') %>
<%- include('footer.ejs') %>