<%
// GET UNIQUE SEASONS PLAYED (BY YEAR)
const collegeSeasons = athletes.map(function(athlete) {
	return athlete.collegeSeasons;
})
const colSeasonsFlat = collegeSeasons.flat();
const uniqueColSeasons = colSeasonsFlat.filter( function(item, i, colSeasonsFlat) {
	return i == colSeasonsFlat.indexOf(item);
})
const colSeasonsSorted = uniqueColSeasons.sort();
const colSeasonsSortedRev = colSeasonsSorted.reverse();

// GET UNIQUE SPORTS
const sports = athletes.map( function(athlete) {
	return athlete.sport;
});
const sportsFlat = sports.flat();
const uniqueSport = sportsFlat.filter( function(item, i, sports) {
	return i == sports.indexOf(item);
})
const sportsSorted = uniqueSport.sort();

// GET UNIQUE POSITIONS
const positions = athletes.map( function(athlete) {
	return athlete.position;
})
const uniquePosition = positions.filter( function(item, i, positions) {
	return i == positions.indexOf(item);
})

//POSITIONS BY SPORT
function positionBySport(sport) {
	let selectedSport = athletes.filter( function(athlete) {
		return athlete.sport.includes(sport);
	})

	let sportPositions = selectedSport.map( function(athlete) {
		return athlete.position;
	})

	let positions = sportPositions.filter( function(item, i, positions) {
		return i == positions.indexOf(item);
	})
	return positions.sort();
}

//COUNT PLAYERS IN EACH POSITION
const positionsCount = {};

const countEachPosition = positions.forEach(function (position) {
	if (positionsCount[position]) {
		positionsCount[position] += 1;
	} else {
		positionsCount[position] = 1;
	}
});

const positionTotal = positions.flat().length;

//COUNT PLAYERS IN EACH SPORT
const sportsCount = {};
const countEachSport = sportsFlat.forEach(function (sport) {
  if (sportsCount[sport]) {
    sportsCount[sport] += 1;
  } else {
    sportsCount[sport] = 1;
  }
});

const athleteTotal = sports.flat().length;

//CAPITALIZE FIRST LETTER OF EACH SPORT
function capFirstLetter(string) {
 return string.charAt(0).toUpperCase() + string.slice(1);
}

//COUNT PLAYERS IN EACH POSITION

%>

<section class="filter-menu">
	<h3 class="attention-voice">Filter</h3>

	<div class="filters">
		<div class="filterSports">

			<label class="alert-voice" for="sportsFilter">Sport</label>
			<input type="checkbox" id="sportsFilter">

			<div class="sportsOptions hidden">
				<label for="allSports" class="selectAll">
					<input type="checkbox" id="allSports">
					<p class="normal-voice">Select All </p>
					<p class="normal-voice">(<%=athleteTotal%>)</p>
				</label>

				<div class="sportSelect">
					<% sportsSorted.forEach( function(sport) { %>	
						<label class="<%=sport%>">
							<div class="sports-header">
								<input 								
									type="checkbox" 
									class="sportInput"
									data-filter="<%=sport%>"
								/>
								
								<p class="normal-voice">
									<%=capFirstLetter(sport)%> (<%=sportsCount[sport]%>)
								</p>
							</div>

							<div class="filterPositions" data-filter="<%=sport%>">
								<% positionBySport(sport).forEach( function(position) { %>
									<label for="<%=position%>" data-filter='position'>
										<input 							
											type="checkbox"
											id="<%=position%>"
											data-filter="<%=position%>"
										>
										
										<p class="normal-voice">
											<%=position%> (<%=positionsCount[position]%>)
										</p>
									</label>
								<% });%>
							</div>	
						</label>
					<% });%>
				</div>

			</div>
		</div>

		<div class="filterYears">

			<label class="alert-voice" for="yearsFilter">Years</label>
			<input type="checkbox" id="yearsFilter">

			<div class="yearsOptions hidden">
				<label for="allYears" class="selectAll">
					<input checked type="checkbox" id="allYears">
					<p class="normal-voice">Select All</p>
				</label>

				<div class="yearsSelect">
					<% colSeasonsSortedRev.forEach( function(year) { %>
					<label for="<%=year%>">
						<input 							
							type="checkbox"
							id="<%=year%>"
							data-filter="<%=year%>"
						>
						<p class="normal-voice"><%=year%></p>
					</label>
					<% }); %>
				</div>
			</div>

		</div>

	</div>
</section>

<script>
	const sportsSelect = document.querySelectorAll('.sportInput');
	const positions = document.querySelectorAll('.filterPositions');

	console.log('POSITIONS: ', positions)
	console.log('SPORTS SELECT: ', sportsSelect)

</script>
















